#THIS IS FOR THE DATABASE CONFIG

DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=restaurant_db


#THIS IS FOT THE JWT

SECRET_KEY="your_secret_jwt_key"
ALGORITHM="HS256"